<html>
<body class="first">
  <div class="home">
     <b><h3 style="color: GoldenRod ;">You are logged in!</h3>
  <h3 style="color: GoldenRod ;">Jump into stock market!!</h3>
  <h1 style="color: GoldenRod ;">Bid and track!!!</h1></b>


<%= image_tag("stocks.jpg" , style: 'height:70%;width:50%;') %>

  </div>
 

</body>
</html>


